[Unit]
Description=audio_delayer
After=network.target

[Service]
User=pi
Type=simple
Restart=always
ExecStart=/home/pi/SoccerAudioDelayer/audio_delayer.sh

[Install]
WantedBy=multi-user.target


